:root {
  --pry_color: #3a3a3a;
  --box_text_color_1: #18191f;
  --box_text_color_2: #787885;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', serif;
  background: #ffff;
}
main {
  max-width: 1500px;
  margin: 0 auto;
}

/* header section style */

.main_nav {
  max-width: 1500px;
  height: 103px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 1.5rem;
}
.menu_list {
  font-size: 1.5rem;
}

.menu_list a {
  margin-right: 32px;
  text-decoration: none;
  color: #3a3a3a;
}
.icon {
  cursor: pointer;
  margin-right: 32px;
  font-size: 2rem;
}

/* hero section style */

#hero {
  margin-top: 100px;
}
.hero_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 133px;
}
.hero_info {
  width: 600px;
  align-items: center;
}
.hero_heding {
  font-size: 3.25rem;
  color: var(--pry_color);
  font-weight: 700px;
}

.hero_dec {
  font-size: 1rem;
  font-weight: 600;
  color: var(--pry_color);
  margin-top: 20px;
}
.hero_btn {
  padding: 15px 30px;
  border-radius: 41px;
  background: #e02c6d;
  border: none;
  color: #ffff;
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 500;
}

.hero_img {
  width: 440px;
  height: 440px;
  background-image: url('./images/Circle\ design.svg');
  background-size: cover;
}

/* compane section style */
.compane {
  max-width: 1200px;
  margin: 100px auto;
}
.compane_logo {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: linear-gradient(
    135deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.378%,
    rgba(192, 204, 218, 0.1) 100%
  );
  padding: 50px 0;
  justify-items: center;
}

/* box section style  */
.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.box {
  margin-bottom: 30px;
  height: 476px;
  width: 329px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.star {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.checked {
  color: orange;
}
.reating {
  color: var(--box_text_color_2);
}

.box_title {
  font-size: 1.9rem;
  font-weight: 500;
  color: var(--box_text_color_1);
}
.box_price {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--box_text_color_2);
}

.box_dec {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--box_text_color_2);
}
